/*Media Query*/
@media all and (min-width: 600px ){
    header{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    div#menu{
        padding: 0;
    }

    i#burguer{
        display: none;
    }

    header nav{
        display: flex;
        flex-direction: row;
    }

    header a{
        padding: 13px 40px;
        font-size: 1.3em;
    }
}